.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;

  transition: background-image 0.3s;

  &--menu {
    background-image: url(../icons/Icon-menu.svg);

    &:hover {
      background-image: url(../icons/Icon-close.svg);
    }
  }

  &--close {
    background-image: url(../icons/Icon-close.svg);
  }

  &--phone {
    background-image: url(../icons/Icon-phone.svg);
  }
}
