.menu {
  z-index: 5;

  overflow: auto;

  box-sizing: border-box;
  height: 100vh;

  background-color: $light-blue;

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: 132px;
    text-align: center;
  }
}
