.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 0;
    padding: 0;

    list-style: none;

    &--horizontal {
      flex-direction: row;
      gap: 64px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__link {
    color: $dark-text;
    text-decoration: none;

    @include hover(transform, scale(1.1));

    &--contact {
      display: flex;
      gap: 4px;
      justify-content: center;
      color: $red-text;
    }

    &--white {
      color: #fff;
    }
  }
}
