.page--theme--red {
  .page__body {
    background-color: $light-pink;
  }

  .hero__title {
    color: $red-text;
  }

  .section-title {
    color: $red-text;
  }

  .about__title {
    color: $red-text;
  }

  .about__stat-value {
    color: $red-text;
  }

  .theme-switcher {
    border-color: $red-text;
  }

  .page__menu {
    background-color: $light-pink;
  }

  .top-bar {
    background-color: $light-pink;
  }
}
