.what-we-bake {
  display: flex;
  flex-direction: column;
  gap: 56px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;

    @include on-tablet {
      grid-column: 1 / -1;
    }
  }

  &__subtitle {
    margin: 0;
  }
}
